<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.email %></h2>
<% @trips.each do |trip| %>
    <h2><%= trip.title%></h2>
    <%= link_to 'Show trip', trip_path(trip) %>
    <%= link_to 'Edit trip', edit_trip_path(trip) %>
    <%= link_to 'Destroy trip', trip, method: :delete %>
<% end %>