<h2>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
<% @trips.each do |trip| %>
    <h2><%= trip.name %></h2>
    <%= link_to 'Show trip', trip_path(trip) %>
    <%= link_to 'Edit trip', edit_trip_path(trip) %>
    <%= link_to 'Destroy trip', trip, method: :delete %>
<% end %>
<%= link_to 'New trip', new_trip_path %>