<h1><%= @trip.name %></h1>
<div><%= @trip.start_date %> - <%= @trip.end_date %>
<ul>
<% @trip.locations.each do |location| %>
  <li><%= link_to location.name, location_path(location) %></li>
    <div><%= location.days %></li>
    <%= link_to 'Remove from Trip', trip_location_path(@trip, location) %>
<% end %>
<%= link_to 'Add Location', new_trip_location_path(@trip) %>
<%= link_to 'Edit Trip', edit_trip_path(@trip) %>
<%= link_to 'Delete Trip', @trip, method: :delete %>
     