<!DOCTYPE html>
<html>
  <head>
    <title>Thebreakfastclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<<<<<<< HEAD
  <div class="ui container">
=======
    <% render "layouts/navbar"%>
>>>>>>> 1eed2fd79684afaac1c995ce820746a89c9c7384
    <%= yield %>
  </body>
</html>
