<!DOCTYPE html>
<html>
  <head>
    <title>Thebreakfastclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="ui container">
<<<<<<< HEAD
    <%= render "layouts/navbar"%>
=======
>>>>>>> 3244b6680a1ce13034fe11b8f8fec303e85dc374
    <%= yield %>
  </div>
  </body>
</html>
